.cardsBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 300px;
    height: 400px;
    border: 1px solid red;
}

.cardsBlock__card {
    width: 30%;
    padding: 16px;
    border-radius: 24px;
    background-color:  #282828;

}

.cardsBlock__card h3 {
    background-color:  inherit;
    margin-bottom: 30px;
    color: var(--main-text-color);
}

.cardsBlock__card p {
    background-color:  inherit;
    color: #757575;
}