* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
}

h2 {
    color: green;
    margin-bottom: 35px;
    margin-top: 50px;
}

#canvasContainer {
    border: 1px solid green;
}

#planetCanvas {
    border: 1px solid blue;
    background-color: rgba(37, 37, 37, 0.89);
    margin-bottom: 70px;

    background-image: url("../assets/img/donat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

#togglePlanet {
    width: 190px;
    height: 56px;
    background-color: rgb(8, 104, 72);
    border: none;
    outline: none;
    border-radius: 50px;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
}

#colorCanvas {
    margin-bottom: 150px;
}