* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

html {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  max-width: 1440px;
  background-color: var(--main-bg-color);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2 {
  color: green;
  margin-bottom: 35px;
  margin-top: 50px;
}

#colorCanvas {
  margin-bottom: 150px;
  border-radius: 250px 40px; 
}

.neonCircle {
  position: absolute;
  z-index: 10;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: rgb(208, 168, 233);
  background: radial-gradient(
    circle,
    rgba(208, 168, 233, 1) 3%,
    rgba(141, 44, 218, 1) 46%,
    rgba(87, 20, 138, 1) 100%
  );
  filter: blur(50px);
  right: 0;
  animation: 5s linear 1s infinite star;
}

.animateSmallStar {
  filter: blur(2px);
  animation: 3s linear 1s infinite star;
}

.animateBigStar {
    filter: blur(3px);
    animation: 5s linear 1s infinite star;
  }

@keyframes star {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
